.wrapper {
    background-color: #c6c6c6;
    padding: .5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    color: #fff;
    text-align: right;
    font-size: 1.5rem;
}

.company {
    color: rgb(209, 130, 143);
    font-weight: 600;
}